.gear {
    background: url('../Media/Gear.jpeg') no-repeat center fixed;     
    background-size: cover;
    min-height: 100vh;
    margin-top: -50px;
  }
  .gearcontainer {
      padding-top: 3.75vh;
  }