.home {
    background: url('../Media/Home.jpeg') no-repeat center fixed;     
    background-size: cover;
    min-height: 100vh;
}

/* #background {
    position: fixed;
    top: 10vh;
    z-index: -1;
    margin-left: -38.5vw;
    min-width: 177vw;
    min-height: 100vh;
background-size: cover;
} */