.items {
    background: url('../Media/Items.jpg') no-repeat center fixed;     
    background-size: cover;
    min-height: 100vh;
}

.itemscontainer {
    /* border: solid black; */
    padding-top: 0.1vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.singleitemcontainer {
    border: solid black;
    display: flex;
flex-flow: column wrap;
align-content: stretch;
width: 25vw;
}

.itemname {
    margin: auto;
    font-size: 2vw;
    border: solid black;
}

.itemimage {
    margin: auto;
    max-width: 25vw;
    border: solid black;
}

.itemeffect {
    margin: auto;
    border: solid black;
    font-size: 1vw;
    max-width: ;
}