.footer {
    z-index: 5;
    max-width: 100vw;
    display: flex;
    background-color: #1e1e1e;
    /* justify-Content: space-around; */
    height: 7vh;
    font-size: 1.75vw;
    border-top:  solid #cead64 5px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: sticky; bottom: -0.5px;
}

.linkedin {
    max-width: 39px;
    max-height: auto;
    margin-right: .1em;
    margin-top: .2em;
}

.github {
    max-width: 50px;
    max-height: auto;
    color: #dcba71;
    margin-left: .1em;
    margin-top: .2em;
}

.footerbottomtext {
    align-items: center;
    min-width: 100vw;
    text-align: center;
    color: #dcba71;
    font-size: 1.75vw;
    margin-bottom: 1em;
    white-space: pre;
}